/*-------------------
      GLOBAL
-------------------*/
html{
  text-transform: uppercase;  
  font-size: 1.5em;
  font-family: georgia;
  font-weight: bolder;
}

body{background-color: #1B1B1E;}
nav, footer{text-align: center; padding: 1em;}

/*nav, footer{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 1em;
}*/

a{text-decoration: none; color: black;}
a:hover{color: #33ff33;}

/*-------------------
        MENU
-------------------*/

nav#main_nav{top: 0; background-color: red;}
  nav input[type=image]#logo{height: 100px;}

  input[type=text]#search{
    display: block;
    margin: auto;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 30%;
    transition: ease-out 0.5s;
  }
    input[type=text]#search:hover{width: 40%;}
  /*#light{
    position: absolute;
    border-radius: 50%;
    background-color: #006600;
    height: 20px;
    width: 20px;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
  }
  #search_container:hover #light{
    box-shadow: 10px 10px #33ff33;
  }*/

/*-------------------
      CONTENT
-------------------*/
article#character_data_container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-auto-rows: minmax(250px, auto);*/
  grid-gap: 1em;
  min-height: 100%;
  padding: 50px 100px;
  text-align: center;
}
  article#character_data_container span{
    padding: 0.5em; 
    min-width: 300px;
    border: solid white 2px; 
    transition: 0.3s ease-in;
  }
    article#character_data_container span:hover{border: solid green 2px;}

  article#character_data_container section{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: red;
  }
    article#character_data_container section span{align-self: center;}
    article#character_data_container section div{background-color: white; padding: 1em; margin-top: 10px;}

  span.character_name{
    margin: 0 auto;
    grid-column-start: 2;
    grid-column-end: span 2;
  }

  section.character_info{
  
  }

  section.character_vehicle_gif{
    
  }

  section.character_ending{
  
  }

  section.character_special_attack{
    
  }
/*-------------------
      FOOTER
-------------------*/

footer#sticky_footer{
  background-color: tomato;
}
  footer span{}