/*-------------------
      GLOBAL
-------------------*/
html{
  text-transform: uppercase;  
  font-size: 1.3em;
  font-family: georgia;
  font-weight: bolder;
}

body{background-color: #000000; text-align: center; color: #F0F7EE;}
nav, footer{padding: 1em;}

#search, .label, #sticky_footer, button{
  background-color: #5D737E; 
  /*border: 2px solid white;*/
}


/*-------------------
        MENU
-------------------*/
/*nav#main_nav{top: 0; background-color: red;}*/
  nav input[type=image]#logo{height: 100px; margin-bottom: 10px;}

  input[type=text]#search{
    display: block;
    margin: auto;
    border: none;
    color: #72E900;
    padding: 10px;
    text-transform: uppercase;
    width: 25%;
    transition: ease-out 0.5s;
  }
    input[type=text]#search:hover, input[type=text]#search:focus, nav ul{width: 35%;}

  nav ul{
    list-style: none; 
    margin: auto; 
    padding: 0; 
    background-color: #F0F7EE;
  }
    nav ul li.result{
      text-align: left; 
      padding: 10px; 
      border: none; 
      background-color: #879bab;
    }
      nav ul li.result img{width: 80px; padding-right: 10px; vertical-align: middle;}
      nav ul li.highlighted{background-color: #5D737E; color: #72E900;}
/*-------------------
      CONTENT
-------------------*/
article#carousel_container{min-height: 100%; margin: 50px; /*position: relative;*/}
article.character_data_container{
  /*position: absolute;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  /*grid-auto-rows: minmax(250px, auto);*/
}
article.character_data_container button{
    grid-column: span 1; 
    width: 4em;
    margin: 0 auto; 
    border: none;
  }
    button#previous{grid-column: 1;}
    button#next{grid-column: 4; grid-row: 1;}
/*article.character_data_container button{position: absolute; top: 100%; transform: translateY(-50%);}
  #previous{left: 20px;}
  #next{right: 20px;}*/
  
  
  article.character_data_container label.label{
    padding: 0.6em 1em;
    transition: 0.3s ease-in;
    align-self: center;
  }
    article.character_data_container label.label:hover{border: solid green 2px;}
  article.character_data_container label.character_name{
    margin: 0 auto;
    grid-column-start: 2;
    grid-column-end: span 2;
  }
  
  article.character_data_container section{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    padding: 1em;
    /*background-color: red;*/
  }
     article.character_data_container section label{min-width: 250px;}
    /*article.character_data_container section div{}*/
    article.character_data_container section div.info_container{margin-top: 50px;}

  section.character_info div{
    margin-bottom: 1em;
    font-size: .9em;
    text-align: left;
  }
    section.character_info div .data_heading{color: #FFF07C;}
    section.character_info div p{display: inline; color: #5D737E;} 
    section.character_info table{margin-top: 1.5em; border: 2px solid #5D737E;}
      section.character_info table td{}
        section.character_info table td:first-child{padding: 10px; /*font-size: .9em;*/ width: 55%;}
        section.character_info table td div.stats{
          width: 30px; 
          height: 30px; 
          margin: 10px;
          border-radius: 50%;
          background-color: #F0F7EE; 
          display: inline-block; 
        }

  section.character_vehicle_gif{}
  section.character_ending iframe{width: 100%; min-height: 400px; max-height: 600px;}
  section.character_special_attack{}
/*-------------------
      FOOTER
-------------------*/

footer#sticky_footer{border: none;}
  footer a{text-decoration: none; color: #87BBA2;}
  footer a:hover{color: #72E900;}