/*-------------------
      GLOBAL
-------------------*/
html{
  text-transform: uppercase;  
  font-size: 1.3em;
  font-family: georgia;
  font-weight: bolder;
}

body{background-color: #1B1B1E; text-align: center;}
nav, footer{padding: 1em;}

a{text-decoration: none; color: black;}
a:hover{color: #33ff33;}
/*-------------------
        MENU
-------------------*/
/*nav#main_nav{top: 0; background-color: red;}*/
  nav input[type=image]#logo{height: 100px; margin-bottom: 10px;}

  input[type=text]#search{
    display: block;
    margin: auto;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 30%;
    transition: ease-out 0.5s;
  }
    input[type=text]#search:hover, input[type=text]#search:focus, nav ul{width: 40%;}

  nav ul{list-style: none; background-color: white; margin:auto; padding: 0;}
  nav ul li.result{text-align: left; padding: 10px;}
  nav ul li.result img{width: 80px; padding-right: 10px; vertical-align: middle;}
  nav ul li span.result_name{color: gray;}
  nav ul li.highlighted{background-color: lightgray;}
 
  /*nav .highlighted{background-color: blue};*/
  /*#light{
    position: absolute;
    border-radius: 50%;
    background-color: #006600;
    height: 20px;
    width: 20px;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
  }
  #search_container:hover #light{
    box-shadow: 10px 10px #33ff33;
  }*/

/*-------------------
      CONTENT
-------------------*/
article#carousel_container{min-height: 100%; margin: 50px 100px; /*position: relative;*/}
/*article#carousel_container button{position: absolute; top: 130%; transform: translateY(-50%);}
  #previous{left: 20px;}
  #next{right: 20px;}*/
  
article.character_data_container{
  /*position: relative;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  /*grid-auto-rows: minmax(250px, auto);*/
}
  /*article.character_data_container button{grid-column-end: span 1; grid-row-start: 3}
  button#previous{grid-column-start: 1;}
  button#next{grid-column-start: 4;}*/
  article.character_data_container label.label{
    padding: 0.5em; 
    min-width: 300px;
    border: solid white 2px; 
    transition: 0.3s ease-in;
    align-self: center;
  }
    article.character_data_container label.label:hover{border: solid green 2px;}
  article.character_data_container label.character_name{
    margin: 0 auto;
    grid-column-start: 2;
    grid-column-end: span 2;
  }
  
  article.character_data_container section{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: red;
  }
    article.character_data_container section div{margin-top: 1em;}

  section.character_info div{
    font-size: .9em;
    text-align: left;
  }
    section.character_info div .data_heading{color: lightgray;}
    section.character_info div p{display: inline;} 
    section.character_info table{border: 1px solid blue; margin-top: 1.5em; background-color: brown;}
      section.character_info table td{}
        section.character_info table td:first-child{padding: 10px; font-size: .9em; width: 45%;}
        section.character_info table td div.stats{
          width: 30px; 
          height: 30px; 
          margin: 10px;
          border-radius: 50%;
          background-color: lightgray; 
          display: inline-block; 
        }

  section.character_vehicle_gif{}
  section.character_ending iframe{width: 100%; min-height: 400px; max-height: 600px;}
  section.character_special_attack{}
/*-------------------
      FOOTER
-------------------*/

footer#sticky_footer{
  /*position: absolute;
  bottom: 0;*/
  background-color: tomato;
}
  footer span{}